/********************************************
*************** ~ANIMATIONS~ ****************
********************************************/
@keyframes rose-fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}
