@import './fonts/_fonts';
@import 'variables';

// body {
//   font-size: 12px !important;
// }

.body-copy, body {
  font: 300 1em/1.5em $font-fam-sans;
}
.body-link {
  color: #1B75BC!important;
  font-weight: bold;
}

h1, .h1, h1 *, .h1 * {
  font: italic 5em $font-fam-serif, serif !important;
}

h2, .h2 {
  font: 2em/1.5em $font-fam-serif, serif !important;
  color: $color-gold !important;
}

h3, .h3 {
  font: bold 1.3em $font-fam-sans, sans-serif !important;
}

h4, .h4 {
  font: bold italic 1.3em $font-fam-serif, serif !important;
}

.quote, .quote * {
  font: italic 1em/1.5em $font-fam-serif, serif !important;
}

.quote-attr, .quote-attr * {
  font: bold 1em $font-fam-sans, sans-serif !important;
  letter-spacing: 0.0125em !important;
}

.big-quote {
  font: bold 2.3em/1.5em $font-fam-serif !important;
}

.btn-txt {
  font: bold 1em/1.125em $font-fam-sans !important;
  letter-spacing: 0.0125em !important;
}

.gold-text {
  color: $color-gold !important;
}

.gold-letter-normal {
  color: $color-gold !important;
  font-size: inherit !important;
  font-family: inherit !important;
}

.gilded-first-letter {
  font-family: $font-fam-sans;
  .first-par {
    padding-bottom: 0;
  }
  .first-letter {
    line-height: 1em;
    margin-top: -.05em;
    padding-right: .1em;
    font-size: 4.5em;
    font-weight: bold;
    color: $color-gold;
    float: left;
  }
}
