@import 'variables';

#top {
  height: 70px;
  .container,
  .az-header-container {
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    .nav-btn-wrapper {
      position: relative;
      height: 40px; // width: 60px;
      // margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      #nav-btn {
        width: 30px;
        height: 15px;
        z-index: 90000;
        position: relative;
        .line {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px; // margin-top: 4px;
          // border-radius: 2px;
          background-color: black;
          transform: rotate(0deg);
          transition: .25s transform ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 4px;
          }
          &:nth-child(4) {
            top: 8px;
          }
        }
        &.open {
          .line {
            background-color: $color-gold;
            &:nth-child(1),
            &:nth-child(4) {
              top: 4px;
              left: 50%;
              width: 0%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    #side-nav {
      // border-top: 1px solid $color-gold;
      // border-left: 1px solid $color-gold;
      position: fixed;
      top: 70px;
      right: 0;
      height: calc(100vh - 70px);
      width: 100vw;
      // margin-right: -200px;
      display: none;
      background-color: white; // display: none;
      .side-nav-inner {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2em;
        .new-menu-list {
          display: flex;
          flex-direction: column;
          .item {
            font-size: 3em;
            line-height:1em;
            a {
              .disable {
                pointer-events:none;
              }
            }
            &.has-children {
              .submenu-list {
                display: none;
                .submenu-item {
                  font-size: .66em;
                  .tert-menu-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    display: none;
                    .tert-menu-item {
                      font-size: .5em;
                    }
                  }
                }
              }
              &.open {
                .submenu-list {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .submenu-item {
                    .disable {
                      pointer-events: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
  body {
    #side-nav {
      .menu-item-has-children {
        .sub-menu {
          display: none;
        }
      }
    }
  }
}
