@import 'variables';

#top {
  height: 70px;
  .container,
  .az-header-container {
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    .nav-btn-wrapper {
      position: relative;
      height: 50px; // width: 60px;
      // margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      #nav-btn {
        width: 40px;
        height: 19px;
        z-index: 1000002;
        position: relative;
        .line {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 3px; // margin-top: 4px;
          // border-radius: 2px;
          background-color: black;
          transform: rotate(0deg);
          transition: .25s transform ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 8px;
          }
          &:nth-child(4) {
            top: 16px;
          }
        }
        &.open {
          .line {
            background-color: $color-gold;
            &:nth-child(1),
            &:nth-child(4) {
              top: 4px;
              left: 50%;
              width: 0%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    #side-nav {
      // border-top: 1px solid $color-gold;
      // border-left: 1px solid $color-gold;
      position: fixed;
      // top: 99px;
      top: 0;
      right: 0;
      height: calc(100vh);
      width: 100vw;

      // display: none;
      
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 2em;
      z-index:100002;
      color: $color-gold;
      &.active {
        
      }
      .side-nav-inner {
        display: flex;
        // justify-content: center;
        align-items: center;
        // margin-top: 2em;
        height: 100%;
        width: 100%;
        .border-line {
          position: absolute;
          height: 100%;
          width: 3px;
          top: 0;
          right: -3px;
          background-color: $color-gold;
        }
        .inner-grid {
          display: grid;
          grid-template-columns: repeat(3, auto);
          // width: 100%;
          // height: 100%;
          .col-1 {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            min-width: 500px;            
            .new-main-list {
              text-align: right;
              display: flex;
              flex-direction: column;
              position:relative;
              .item {
                font-size: 3.5em;
                line-height: 1.5em;
                a {
                  position: relative;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  .disable {
                    pointer-events:none;
                  }
                  i {
                    margin-right: -2em;
                    margin-bottom: -.75em;
                  }
                }
                &.isOpen, &:hover {
                  // color: $color-gold;
                  font-weight: 900 !important;
                  font-family: $font-fam-serif !important;
                  font-style: italic;
                }
              }
            }
          }
          .col-2 {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            .sub-lists {
              display: flex;
              position: relative;
              justify-content: flex-start;
              align-items: center;
              .new-sub-list {
                font-weight: normal;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 1em;
                .submenu-item {
                  line-height: 1.5em;
                  font-size: 2.5em;
                  font-weight: normal;
                  font-family: $font-fam-sans;
                  color: $color-gold;
                  font-style: normal;
                  font-weight: normal;
                  a {
                    text-align: left !important;
                    justify-content: flex-start;
                    .disable {
                      pointer-events: none;
                    }
                  }
                  &.isOpen,
                  &:hover {
                    font-weight: 900 !important;
                    font-family: $font-fam-serif !important;
                    font-style: italic;

                  }
                }
              }
            }
          }
          .col-3 {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            .new-tert-list {
              flex-direction: column;
              align-items: center;
              .tert-menu-item {
                font-size: 2em;
                line-height: 1.5em;
                font-weight: normal;
                &:hover {
                  font-weight: 900 !important;
                  font-family: $font-fam-serif !important;
                  font-style: italic;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
  body {
    #side-nav {
      .menu-item-has-children {
        .sub-menu {
          display: none;
        }
      }
      .side-nav-inner {
        .inner-grid {
          display: flex!important;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: relative;
          .col-1 {
            width: 100vw;
            min-width: 100vw;
            .new-main-list {
              align-items: flex-start;
              text-align: left;
            }
          }
          .col-2 {
            width: 100vw;
            min-width: 100vw;
            .new-sub-list {
              align-items: flex-start;
              text-align: left;
            }
          }
          .col-3 {
            width: 100vw;
            min-width: 100vw;
            .new-tert-list {
              align-items: flex-start;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
