@import 'variables';

#top {
  height: 70px;
  .container,
  .az-header-container {
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    .nav-btn-wrapper {
      position: relative;
      height: 40px; // width: 60px;
      // margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      #nav-btn {
        width: 30px;
        height: 15px;
        z-index: 90000;
        position: relative;
        .line {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px; // margin-top: 4px;
          // border-radius: 2px;
          background-color: black;
          transform: rotate(0deg);
          transition: .25s transform ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 4px;
          }
          &:nth-child(4) {
            top: 8px;
          }
        }
        &.open {
          .line {
            background-color: $color-gold;
            &:nth-child(1),
            &:nth-child(4) {
              top: 4px;
              left: 50%;
              width: 0%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    #side-nav {
      // border-top: 1px solid $color-gold;
      // border-left: 1px solid $color-gold;
      position: fixed;
      // top: 99px;
      top: 0;
      right: 0;
      height: calc(100vh);
      width: 100vw;
      display: none;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 2em;
      z-index:900;
      color: $color-gold;
      &.active {
        
      }
      .side-nav-inner {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        margin-top: 2em;
        width: 500px;
        .new-menu-list {
          display: flex;
          flex-direction: column;
          .item {
            font-size: 3.5em;
            line-height: 1.5em;
            a {
              position: relative;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              .disable {
                pointer-events:none;
              }
              i {
                margin-right: -2em;
                margin-bottom: -.75em;
              }
            }
            &.isOpen, &:hover {
              // color: $color-gold;
              font-weight: 900 !important;
              font-family: $font-fam-serif !important;
              font-style: italic;
              color: black !important;
              
            }
            &.has-children {
              // margin-left: -1em;
              .submenu-list {
                font-weight: normal;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // font-size: 1.75em;
                // color: black;
                // margin-left: 1em;
                display: none;
                padding: 0 1em ;
                .submenu-item {
                  line-height: 1.125em;
                  font-size: .66em;
                  font-weight: normal;
                  font-family: $font-fam-sans;
                  color: $color-gold;
                  font-style: normal;
                  font-weight: normal;
                  a {
                    text-align: left !important;
                    justify-content: flex-start;
                  }
                  &.isOpen, &:hover {
                    font-weight: bold;
                    
                    // color: $color-gold;
                  }
                  &.has-children {
                    margin-left: -1em;
                    .tert-menu-list {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      display: none;
                      // margin-left: 1em;
                      padding-right: 1em;
                      .tert-menu-item {
                        // color: black;
                         font-weight: normal;    
                        &:hover {
                          font-weight: bold;
                          
                          // color: $color-gold;
                        }
                        // font-size: .5em;
                      }
                    }
                  }
                }
              }
              &.open {
                .submenu-list {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .submenu-item {
                    .disable {
                      pointer-events: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
  body {
    #side-nav {
      .menu-item-has-children {
        .sub-menu {
          display: none;
        }
      }
    }
  }
}
