/********************************************
****************** ~COLORS~ *****************
********************************************/
$color-gold: #CDA33A;

$font-fam-cursive: 'Nickainley Normal';
$font-fam-serif: 'Playfair Display';
$font-fam-sans-modern: 'Chivo';
$font-fam-sans-hard: 'Montserrat';
