/********************************************
****************** ~COLORS~ *****************
********************************************/
$color-gold: #D4A011;
$color-gold-bright: #D4A011;
// $color-gold-bright: #FEBF33;
$color-blue: #1B75BC;
$color-black: #000000;

$font-fam-serif: 'Playfair Display';
$font-fam-sans: 'Montserrat';
