/*
 Theme Name:   CGO
 Theme URI:    http://agencyzero.com
 Description:  Client child theme
 Author:       @willmeier
 Author URI:   http://agencyzero.com
 Template:     salient
 Version:      1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/

@import 'normalize';
@import 'variables';
@import 'animations';
@import 'menu';
@import './fonts/_fonts';
// @import 'pageTemplate';

/********************************************
***************** ~MIXINS~ ******************
********************************************/

/********************************************
**************** ~VARIABLES~ ****************
********************************************/
// $color-gold: #fab92a;


/********************************************
***************** ~GLOBALS~ *****************
********************************************/

body {
  width: 100vw;
  height: 100vh;
  overflow: auto !important;
  color: black;
  .loading-icon .material-icon .bar {
    border-color: $color-gold;
    &::after {
      background-color: $color-gold;
    }
  }
}

.container:first-of-type {
  max-width: unset !important;
}

ul, li {
  list-style: none !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
  &.active {
    font-weight: bold;
  }
  &:hover {
    color: inherit;
  }
}

[class*=btn] {
  cursor: pointer;
}

.gold-letter-normal {
  color: $color-gold;
}

#header-outer {
  // padding-top: 0!important;
  // padding:0!important
  box-shadow: none!important;
  background: linear-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, .95))!important;
}
.header-gradient {
  height: 20vh;
  background: linear-gradient(rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}
#header-space { 
  background-color: white;
}
#top {
  height: 70px!important;
  .container, .az-header-container{
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    .header-title {
      display: flex;
      margin-bottom: 1em;
      #cgo-logo {
        color: $color-gold !important;
        display: flex;
        align-items: stretch;
      }
      .title-wrapper {
        margin-left: 1em;
        color: black;
        letter-spacing: .1em;
        &:hover {
          color: $color-gold;
        }
        .center-of {
          font-size: .666em;
          font-weight: 500;
        }
        .the-golden-one {
          font-weight: bold;
          line-height: .5em;
        }
      }
    }
  }
}

.gilded-first-letter {
  font-family: $font-fam-serif;
  .first-par {
    padding-bottom: 0;
  }
  .first-letter{
    line-height: .75em;
    padding-top: .05em;
    padding-right: .1em;
    font-size: 4em;
    font-weight: bold;
    color: $color-gold;
    float: left;
  }
}

#cgo-logo{
  width: 10px;
  height: 10px;
  svg {
    width: 1px;
    overflow: visible!important;
    .cls-1 {
      fill: $color-gold;
    }
  }
}

#rosetta-logo {
  width: 20px;
  height: 20px;
  display: flex;
  margin-bottom: 30px;
  // justify-content: center;
  // align-items: center;
  svg {
    width: 2px;
    height: 6px;
    overflow: visible!important;
    .cls-1 {
      fill: $color-gold;
    }
  }
}

.logo-append-to {
  display: flex;
  align-items: center;
  flex-direction: column;
  .cgo-logo {
    width: 10px;
    height: 10px;
    svg {
      width: 1px;
      height: 3px;
      overflow: visible !important;
      .cls-1 {
        fill: $color-gold;
      }
    }
  }
  .home & {
    .cgo-logo {
      width: 20px;
      height: 20px;
      svg {
        width: 2px;
        height: 6px;
      }
    }
  }
}

.main-content ul {
  margin-left: 0;
}

#footer-outer {
  #nav_menu-2 {
    #menu-main-1 {
      display: flex;
      justify-content: space-around;
      text-align: left;
      .menu-item {
        & > a:first-child {
          // font-weight:bold;
        }
        .sub-menu {
          padding: 0 !important;
        }
      }
    }
  }
}

#user-agreement-modal {
  background-color: white;
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  box-shadow: 0 0 10px black;
  overflow: scroll;
  z-index: 999999999999;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}


/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/

@media only screen and (min-width: 1000px) {
  .container:first-of-type {
    max-width: unset !important;
  }
}

@media only screen and (min-width: 1300px){
  .container:first-of-type {
    max-width: unset !important;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
  body {
    #header-outer {
      // padding:0!important;
      // padding-top:0!important;
    }
  }
}
