/*
 Theme Name:   CGO
 Theme URI:    http://agencyzero.com
 Description:  Client child theme
 Author:       @willmeier
 Author URI:   http://agencyzero.com
 Template:     salient
 Version:      1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/

@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'animations'; 

/********************************************
***************** ~MIXINS~ ******************
********************************************/

/********************************************
**************** ~VARIABLES~ ****************
********************************************/

/********************************************
***************** ~GLOBALS~ *****************
********************************************/

body {
  width: 100vw;
  height: 100vh;
  background: gold !important;
  overflow: auto !important;
}

.container:first-of-type {
  max-width: unset !important;
}

ul, li {
  list-style: none !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
  &.active {
    font-weight: bold;
  }
}

[class*=btn] {
  cursor: pointer;
}


/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/

@media only screen and (min-width: 1000px) {
  .container:first-of-type {
    max-width: unset !important;
  }
}

@media only screen and (min-width: 1300px){
  .container:first-of-type {
    max-width: unset !important;
  }
}

