/*
 Theme Name:   CGO
 Theme URI:    http://agencyzero.com
 Description:  Client child theme
 Author:       @willmeier
 Author URI:   http://agencyzero.com
 Template:     salient
 Version:      1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/

@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'animations'; 

/********************************************
***************** ~MIXINS~ ******************
********************************************/

/********************************************
**************** ~VARIABLES~ ****************
********************************************/
// $color-gold: #fab92a;


/********************************************
***************** ~GLOBALS~ *****************
********************************************/

body {
  width: 100vw;
  height: 100vh;
  overflow: auto !important;
}

.container:first-of-type {
  max-width: unset !important;
}

ul, li {
  list-style: none !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
  &.active {
    font-weight: bold;
  }
  &:hover {
    color: inherit;
  }
}

[class*=btn] {
  cursor: pointer;
}

#header-outer {
  padding-top: 0!important;
}

#top {
  height: 70px;
  .container, .az-header-container{
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    .header-title {
      display: flex;
      margin: 1em 0;
      #cgo-logo {
        color: $color-gold !important;
        display: flex;
        align-items: stretch;
      }
      .title-wrapper {
        margin-left: 1em;
        color: black;
        letter-spacing: .1em;
        &:hover {
          color: $color-gold;
        }
        .center-of {
          font-size: .666em;
          font-weight: 500;
        }
        .the-golden-one {
          font-weight: bold;
          line-height: .5em;
        }
      }
    }
    .nav-btn-wrapper{
      position: relative;
      height: 70px;
      width: 60px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      #nav-btn {
        width: 60px;
        height: 30px;
        z-index: 90000;
        position: relative;
        .line {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          // margin-top: 4px;
          border-radius: 2px;
          background-color: black;
          transform: rotate(0deg);
          transition: .25s transform ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2), &:nth-child(3) {
            top: 8px;
          }
          &:nth-child(4) {
            top: 16px;
          }
        }
        &.open {
          .line {
            background-color: $color-gold;
            &:nth-child(1), &:nth-child(4) {
              top: 8px;
              left: 50%;
              width: 0%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
    #side-nav {
      border-top: 1px solid $color-gold;
      position: fixed;
      top: 70px;
      right: 0;
      height: calc(100vh - 70px);
      width: 200px;
      margin-right:-200px;
      background-color: white;
      // display: none;
      .side-nav-inner {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        .sf-menu {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}




// delete below after fixing header to be custom

@mixin formatNavBtn {
  width:33px !important;
  height: 3px !important;
  border-radius: 3px !important;
  background-color: black !important;
  z-index: 5;
  
}

.mobile-icon {
  height: 100%;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  .lines-button.x2 {
    &:hover {
      background-color: $color-gold !important;
    }
    .lines {
      @include formatNavBtn;
      &:hover {
        background-color: $color-gold !important;
      }
      &::before, &::after {
        @include formatNavBtn;
        &:hover {
          background-color: $color-gold !important;
        }
      }
    }
  }
}


/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/

@media only screen and (min-width: 1000px) {
  .container:first-of-type {
    max-width: unset !important;
  }
}

@media only screen and (min-width: 1300px){
  .container:first-of-type {
    max-width: unset !important;
  }
}
