/*
 Theme Name:   CGO
 Theme URI:    http://agencyzero.com
 Description:  Client child theme
 Author:       @willmeier
 Author URI:   http://agencyzero.com
 Template:     salient
 Version:      1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/

@import 'normalize';
@import 'variables';
@import 'animations';
@import 'menu';
@import './fonts/_fonts';
@import 'base';
// @import 'pageTemplate';

/********************************************
***************** ~MIXINS~ ******************
********************************************/

/********************************************
**************** ~VARIABLES~ ****************
********************************************/
// $color-gold: #fab92a;


/********************************************
***************** ~GLOBALS~ *****************
********************************************/

// .col.span_12 {
//   margin-left: 45px;
// }



body {
  width: 100vw;
  height: 100vh;
  overflow: auto !important;
  color: black;
  .loading-icon .material-icon .bar {
    border-color: $color-gold;
    &::after {
      background-color: $color-gold;
    }
  }
  #ajax-content-wrap {
    background-color: white !important;
  }
}
.quote-attr {
  clear: left;
}
.container-wrap {
  margin-top: 0!important;
  padding-top: 0!important;
}

.container:first-of-type {
  max-width: unset !important;
}

ul, li {
  list-style: none !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
  &.active {
    font-weight: bold;
  }
  &:hover {
    color: inherit;
  }
}

[class*=btn] {
  cursor: pointer;
}


.vc_col-sm-4 {
  width: 33vw!important;
}



#header-outer {
  // padding-top: 0!important;
  // padding:0!important
  box-shadow: none!important;
  background: linear-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, .95))!important;
}
#header-space { 
  background-color: white;
}
#top {
  height: 70px!important;
  .container, .az-header-container{
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    .header-title {
      display: flex;
      margin-bottom: 1em;
      #cgo-logo {
        color: $color-gold !important;
        display: flex;
        align-items: stretch;
      }
      .title-wrapper {
        margin-left: 1em;
        color: black;
        letter-spacing: .1em;
        &:hover {
          color: $color-gold;
        }
        .center-of {
          font-size: .666em;
          font-weight: 500;
        }
        .the-golden-one {
          font-weight: bold;
          line-height: .5em;
        }
      }
    }
  }
}


.prepend-logo, .prepend-logo-medium, .append-logo, .append-logo-medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150%;
}

.audio-text {
  text-align: center;
  font-family: $font-fam-serif;
  font-style: italic;
}

#cgo-logo{
  width: 20px;
  height: 20px;
  svg {
    width: 1px;
    overflow: visible!important;
    .cls-1 {
      fill: $color-gold;
    }
  }
}

.cgo-logo {
  &-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 3em;
    svg {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      margin-left: -5px;
      width: 1px;
      overflow: visible !important;
      .cls-1 {
        fill: $color-gold;
      }
    }
  }
  &-medium {
    width: 20px;
    height: 20px;
    svg {
      width: 2px;
      height: 5px;
      overflow: visible !important;
      .cls-1 {
        fill: $color-gold;
      }
    }
  }
}

#rosetta-logo {
  width: 20px;
  height: 20px;
  display: flex;
  margin-bottom: 30px;
  // justify-content: center;
  // align-items: center;
  svg {
    width: 2px;
    height: 6px;
    overflow: visible!important;
    .cls-1 {
      fill: $color-gold;
    }
  }
}

.logo-append-to {
  display: flex;
  align-items: center;
  flex-direction: column;
  .cgo-logo {
    width: 10px;
    height: 10px;
    svg {
      width: 1px;
      height: 3px;
      overflow: visible !important;
      .cls-1 {
        fill: $color-gold;
      }
    }
  }
  .home & {
    .cgo-logo {
      width: 20px;
      height: 20px;
      svg {
        width: 2px;
        height: 6px;
      }
    }
  }
}

.main-content ul {
  margin-left: 0;
}

#footer-outer {
  margin-top: 5em;
  // background-color: white!important;
  border-top: 3px solid $color-gold;
  #nav_menu-2 {
    width: 100%;
    #menu-main-1 {
      display: flex;
      justify-content: center;
      text-align: left;
      .menu-item {
        & * {
          margin: 0 .5em;
        }
        & a {
          @extend .menu-item;
        }
        color: black!important;
        text-transform: uppercase;
        font-size: .9em!important;
        font-style: normal!important;
        font-weight: normal!important;
        font-family: $font-fam-sans!important;
        margin: 0 2em;
        .sans-left-marg {
          margin: 0!important;
        }
        &.menu-item-has-children {
          font-size: 1em!important;
          color: $color-gold!important;
          font-family: $font-fam-serif!important;
          font-style: italic!important;
          font-weight: bold!important;
          & > a {
            @extend .menu-item-has-children;
            text-transform: none;            
          }
          .sub-menu {
            .menu-item-has-children {
              color: black !important;
              text-transform: uppercase;
              font-size: .9em !important;
              font-style: normal !important;
              font-weight: normal !important;
              font-family: $font-fam-sans !important;
            }
          }
        }
        &.top-lvl {
          @extend .menu-item-has-children;
          & > a {
            @extend .top-lvl;
          }
        }
        .sub-menu {
          padding: 0 !important;
        }
      }
    }
  }
  #footer-widgets {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      .bottom-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .socials-container {
          // width: 200px;
          display: flex;
          justify-content: center;
          div {
            margin: 1em;
            width: 30px;
            height: 30px;
            position: relative;
            a {
              width: 100%;
              height: 100%;
              cursor: pointer;
              svg {
                height: 100%;
                fill: $color-gold;
                path {
                  @extend svg;
                }
              }
            }
          }
        }
        .copyright {
          text-align: center;
          font-style: italic;
          font-family: $font-fam-sans;
          font-size: .85em;
        }
        .ua-pp {
          text-align: center;
          margin-top: 1em;
        }
      }
    }
  }
}

#user-agreement-modal {
  background-color: white;
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  box-shadow: 0 0 10px black;
  overflow: scroll;
  z-index: 999999999999;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.audio-link {
  display: none;
}
#audio-modal-bg {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  .audio-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    .audio-screen {
      background: rgba(255, 255, 255, .85);
      z-index: 101;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
    }
    .player-wrapper {
      z-index: 102;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      audio {
        // display: none;
        &::-webkit-media-controls-panel {
          background-color: black;
        }
        &::-webkit-media-controls-mute-button {

        }
        &::-webkit-media-controls-play-button {}
        &::-webkit-media-controls-timeline-container {}
        &::-webkit-media-controls-current-time-display {
          color: white;
        }
        &::-webkit-media-controls-time-remaining-display {
          color: white;
        }
        &::-webkit-media-controls-timeline {}
        &::-webkit-media-controls-volume-slider-container {}
        &::-webkit-media-controls-volume-slider {}
        &::-webkit-media-controls-seek-back-button {}
        &::-webkit-media-controls-seek-forward-button {}
        &::-webkit-media-controls-fullscreen-button {}
        &::-webkit-media-controls-rewind-button {}
        &::-webkit-media-controls-return-to-realtime-button {}
        &::-webkit-media-controls-toggle-closed-captions-button {}
      }
    }
  }
}


/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/

@media only screen and (min-width: 1000px) {
  .container:first-of-type {
    max-width: unset !important;
  }
}

@media only screen and (min-width: 1300px){
  .container:first-of-type {
    max-width: unset !important;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
  body {
    #footer-outer {
      #nav_menu-2 {
        #menu-main-1 {
          flex-direction: column;
          align-items: center;
          text-align: center;
          .menu-item {
            &.two-gifts-thin {
              margin-top: 1em!important;
            }
            .sub-menu {
              &.hidden {
                display: none;
              }
            }
            margin-top: 1em!important;
          }
        }
      }
    }
  }
}
