/********************************************
****************** ~FONTS~ ******************
********************************************/
$font-fam-cursive: 'Nickainley Normal';
$font-fam-serif: 'Playfair Display';
$font-fam-sans-modern: 'Chivo';
$font-fam-sans-hard: 'Montserrat';



@font-face {
  font-family: 'Playfair Display';
  src: url('PlayfairDisplay-Bold.ttf') format('truetype');
  src: url('PlayfairDisplay-Bold.eot');
  src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('PlayfairDisplay-Bold.woff2') format('woff2'), url('PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('PlayfairDisplay-Italic.ttf') format('truetype');
  src: url('PlayfairDisplay-Italic.eot');
  src: url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'), url('PlayfairDisplay-Italic.woff2') format('woff2'), url('PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-SemiBold.ttf') format('truetype');
  src: url('Montserrat-SemiBold.eot');
  src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('Montserrat-SemiBold.woff2') format('woff2'), url('Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Light.ttf') format('truetype');
  src: url('Montserrat-Light.eot');
  src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('Montserrat-Light.woff2') format('woff2'), url('Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('PlayfairDisplay-Regular.ttf') format('truetype');
  src: url('PlayfairDisplay-Regular.eot');
  src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('PlayfairDisplay-Regular.woff2') format('woff2'), url('PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chivo';
  src: url('Chivo-Light.ttf') format('truetype');
  src: url('Chivo-Light.eot');
  src: url('Chivo-Light.eot?#iefix') format('embedded-opentype'), url('Chivo-Light.woff2') format('woff2'), url('Chivo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.ttf') format('truetype');
  src: url('Montserrat-Bold.eot');
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('Montserrat-Bold.woff2') format('woff2'), url('Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf') format('truetype');
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('Montserrat-Regular.woff2') format('woff2'), url('Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nickainley Normal';
  src: url('Nickainley-Normal.ttf') format('truetype');
  src: url('Nickainley-Normal.eot');
  src: url('Nickainley-Normal.eot?#iefix') format('embedded-opentype'), url('Nickainley-Normal.woff2') format('woff2'), url('Nickainley-Normal.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
