/********************************************
****************** ~FONTS~ ******************
********************************************/


// @font-face {
//   font-family: 'Playfair Display';
//   src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
//   src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Bold.eot');
//   src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Bold.woff2') format('woff2'), url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
// }

// $url: '/wp-content/themes/CGO/dist/fonts/' 

@font-face {
  font-family: 'Playfair Display';
  // src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Italic.eot');
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

// @font-face {
//   font-family: 'Montserrat';
//   src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-SemiBold.ttf') format('truetype');
//   src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-SemiBold.eot');
//   src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/wp-content/themes/CGO/dist/fonts/Montserrat-SemiBold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
// }

@font-face {
  font-family: 'Montserrat';
  // src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Light.ttf') format('truetype');
  src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Light.eot');
  src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  // src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Regular.eot');
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  // src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Bold.ttf') format('truetype');
  src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Bold.eot');
  src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// @font-face {
//   font-family: 'Montserrat';
//   src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Regular.ttf') format('truetype');
//   src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Regular.eot');
//   src: url('/wp-content/themes/CGO/dist/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/Montserrat-Regular.woff2') format('woff2'), url('/wp-content/themes/CGO/dist/fonts/Montserrat-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Playfair Display';
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Black.eot');
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-BlackItalic.eot');
  src: url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'), url('/wp-content/themes/CGO/dist/fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
