@import '../_variables.scss';

.connect {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      margin-top: 0;
    }
    .sub-text {
      font-family: $font-fam-serif;
      font-style: italic;
      width: 100%;
      white-space: nowrap;
      margin-bottom: 1.5em;
    }
    form {
      @extend .row;
        input:not([type=submit]), .your-email {
          height: 1.25em;
          width: 100%!important;
          background-image: none!important;
          border: none !important;
          border-bottom: 1px solid lightgrey !important;
          letter-spacing: .15em;
        }
        .your-email {
          border-bottom: none!important;
          margin-bottom: 2.5em !important;          
        }
         .email {
          margin-top: 1.5em!important;     
          &:focus {
            border-bottom: 1px solid $color-gold !important;
          }
        }
        
        textarea, .message {
          border: none!important;
          border-top: 1px solid lightgrey !important;
          padding-top: .125em!important;
          width: 100%!important;
          color: black!important;
          &:focus {
            border-top: none!important;
            border-bottom: 1px solid $color-gold!important;
            slot {
              @extend textarea:focus;
            }
          }
          slot {
            @extend textarea;
          }
        }
        textarea {
          border-bottom: 1px solid lightgrey !important;
        }
        .message {
          border-top: none!important;
        }
        .name-group {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          .last-name, .first-name {
            width: 100%!important;
            position: relative;
            input {
              width: 98%!important;
            }
          }
        }
        .select-location {
          width: 100%!important;
        }
        select {
          // margin: 1.5em;
          box-shadow: none!important;
          border-radius: 0!important;
          border: 1px solid lightgrey!important;
          background: white!important;
          color: black!important;
          font-family: $font-fam-sans;
          font-size: 1em;
          letter-spacing: .15em;
          text-align: center;
          &:focus {
            @extend select;
            border: 1px solid $color-gold!important;
          }
        }
        .hr {
          width: 100%;
          height: 1px;
          background-color: $color-gold;
          margin-top: 1em;
        }
        button {
          border: none;
          background-color: $color-gold!important;
          color: white;
          font-family: $font-fam-sans!important;
          // font-weight: bold;
          padding: .8em 2em!important;
          margin-top: 3em!important;
          font-weight: 300 !important;
          font-size: 1em !important;
        }
        p {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          font-weight: 300!important;
          font-size: 1em!important;
          font-family: $font-fam-sans !important;
          width: 100%;
          #btn{
            @extend button;
            .ajax-loader {
              display: none!important;
            }
          }
        }
      }
    }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 5em!important;
  }
  .connect {
    .sub-text {
      padding: 0 1em;
      white-space: pre-wrap!important;
    }
    form {
      padding: 0 1em;
      select {
        // width: 80%!important;
      }
    }
  }
}
