@import '../_variables.scss';

.purpose, .story, .teachings, .spiritual-lineage, .teachings, .spiritual-paths, .two-gifts {
  .header-title-text {
    height: 45vw;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #cgo-logo {
      svg {
        width: 2px!important;
        height: 2px!important;
      }
    }
    .wpb_wrapper {
      // height: 50%;
      h1 {
        // font-size: 5em;
        margin: 0 !important;
        // font-size: 100px !important;
        font-style: italic;
        font-family: $font-fam-serif;
        color: white;
      }
    }
  }
  .header-secondary-text {
    padding: 3em;
    text-align: center;
    font-family: $font-fam-serif;
    font-size: 1.66em;
    line-height: 1.25em;
  }
  .audio-text {
    margin-top: 5em;
    .wpb_wrapper {
      display: flex;
      justify-content: center;
      p {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .audio-text {
    margin-top: 2em!important;
    .wpb_wrapper {
      p {
        width: 100%!important;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .purpose, .story, .teachings, .spiritual-lineage, .teachings, .spiritual-paths, .two-gifts {
    .header-title-text {
      height: 80vw;
      .wpb_wrapper {
        h1 {
          font-size: 10vw!important;
        }
      }
    }
    .header-secondary-text {
      padding: 10vw;
      text-align: center;
      font-family: $font-fam-serif;
      font-size: 1.25em;
      line-height: 1.25em;
    }
  }
}
