@import '../_variables.scss';

// @keyframes header {
//   from { width: 0; }
// }

.cssanimation,
.cssanimation span {
  animation-duration: .5s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block
}

.leBlurIn span {
  animation-name: leBlurIn
}

@keyframes leBlurIn {
  from {
    transform: scaleX(0.2);
    filter: blur(20px);
    opacity: 0;
  }
}

.leBlurInRight span {
  animation-name: leBlurInRight
}

@keyframes leBlurInRight {
  from {
    transform: scaleX(0.2) translateX(100px);
    filter: blur(20px);
    opacity: 0;
  }
}

.home{
  .container-wrap {
    padding-top: 0!important;
    margin-top: 0!important;
  }
  .main-content {
    padding: 0;
    #homepage-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100vw!important;
      object-fit: cover;
      position: relative;
      justify-content: flex-start;
      #rosetta-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 600px;
        .each-rose {
          position: absolute;
          display: flex;
          justify-content: center;
          bottom: 3vw;
          right: 0;
          align-items: flex-end;
          max-height: 100vh;
          width: 100vw;
          img {
            width: 100%;
            padding: 110px;
          }
        }
      }
      .section-title {
        padding-top: 5vw;
        // width: 100%;
        // align-self: flex-start;
        h2 {
          opacity: 0;
          // white-space: nowrap;
          // overflow: hidden;
          // width: 100%;
          // width: 100%;
          // animation: header 4s steps(60, end);
          color: black !important;
          text-align: center;
          overflow: visible;
          // &.cssanimation, &.cssanimation span {
          //   animation-duration: 1s;
          // }
          span {
            overflow: visible;
            // min-width: .33em;
            // display: inline-block;
            // opacity: 0;
            // filter: blur(5px);
            // transform: translateX(-20px) scale(0.2);
            // transition: transform .5s, opacity .7s, filter .6s;
            // transition-timing-function: ease-out;
            // &.enter {
            //   opacity: 1;
            //   transform: translateX(0) scale(1);
            //   filter: blur(0px);
            // }
          }
        }
      }
    }
    .col.span_12 {
      display: flex;
      align-items: center;
      &.section-title {
        h2 {
          color: black!important;
          font-size: 1.75em!important;
        }
      }
      .vc_col-sm-6 {
        height: 100%!important;
        display: flex!important;
        justify-content: center;
        align-items: center;
        font-size: 1.25em!important;
        .bold-quote-intro {
          font: 900 1em/1.5em "Playfair Display",
          serif !important;
          & * {
            @extend .bold-quote-intro;
          }
        }
        .prepend-logo {
          margin-bottom: 5px;
        }
        .quote, .wpb_text_column {
          .wpb_wrapper {
            text-align: center;
            p {
              padding-bottom: 0;
            }
          }
        }
        .quote-attr {
          margin-top: -.5em!important;
        }
      }
    }
    .light-beings-footer {
      display: flex;
      justify-content: center;
    }
    .light-beings-footer-img {
      padding-bottom: 0!important;
    }
    .section-title, .section-title h2 {
      font-family: $font-fam-serif !important;
      font-weight: normal!important;
      font-style: italic !important;
      font-size: 3vw;
      color: black;
      justify-content: center;
      letter-spacing: .0125em !important;
      line-height: 1em;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  #ajax-content-wrap {
    img {
      padding: 10%;
    }
  }
  .come-within {
    // margin: 3em!important;
    text-align: center;
    p {
      padding-bottom: 0;
      font-size: 1.5em;
      line-height: 1.5em;
      font-family: $font-fam-serif;
      font-style: italic;
      &:first-of-type {
        font-weight: 900;
        font-style: normal;
        padding-bottom: .5em;
      }
      &:last-of-type {
        padding: 0 10%;
      }
    }
  }
  .home-nav-btn-row {
    .col {
      display: flex;
      justify-content: center;
      flex-direction: row;
      .vc_col-sm-3 {
        margin-left: 0;
        display: block;
        .home-nav-btn {
          margin: 1.5em;
          padding: 1em;
          background-size: contain;
          background-repeat: no-repeat;
          display: flex;
          flex-grow: 0;
          align-items: center;
          justify-content: center;
          height: 100px;
          background-position-x: center;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .row .col.section-title span:not(.share-count-total) {
    display: initial!important;
  }
  .come-within {
    p:last-of-type {
      padding: 0 10%;
      padding-bottom: 0 !important;
    }
  }
  .home-nav-btn-row {
    .col {
      flex-direction: column!important;
      align-items: center;
      .wpb_column {
        margin-bottom: 0!important;
      }
      .vc_col-sm-3 {
        padding: 0!important;
        .wpb_wrapper {
          display: flex;
          justify-content: center;
          .home-nav-btn {
            background-size: contain!important;
            width: 100vw;
            margin: 0;
            height: 120px;
            a {
              padding-top: 1.5em;
            }
          }
        }
      }
    }
  }
  .bottom-cgo-branding {
    margin-bottom: 2em!important;
  }
  .main-content {
    .col.span_12 {
      flex-direction: column-reverse;
      align-items: center;
      .vc_col-sm-6 {
        .quote, .wpb_text_column {
          .wpb_wrapper {
            p {
              font-size: 1.25em!important;
            }
          }
        }
      }
    }
    .col-flip {
      .col.span_12 {
        flex-direction: column;
      }
    }
    #homepage-container {
      margin-bottom: 5em;
    }
  }
}

@media screen and (min-width: 1400px) {
  .home {
    .main-content {
      .col.span_12 {
        .vc_col-sm-6 {
            font-size: 1.5em!important;
        }
      }
      .section-title {
        font-size: 6em!important;
        h2 {
          font-size: 1em!important;
        }
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  .home {
    .main-content {
      .col.span_12 {
        .vc_col-sm-6 {
          font-size: 1.75em !important;
        }
      }
    }
  }
}
