@import '../_variables.scss';

// $home-url: 'https://test.centerofthegoldenone.com/wp-content/uploads';

// .header-gradient {
//   height: 20vh;
//   background: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: 20;
// }

.home{
  .container-wrap {
    padding-top: 0!important;
    margin-top: 0!important;
  }
  .main-content {
    padding: 0;
    #homepage-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100vw!important;
      height: 60vh;
      object-fit: cover;
      position: relative;
      justify-content: flex-end;
      // #bg-image {
      //   width: 100vw !important;
      //   height: 100%;
      //   background-image: url($home-url + '/2018/02/CGO_Home_2500x1274_background.png');
      //   background-repeat: no-repeat;
      //   background-size: cover;
      //   background-position: top center;
      //   // border-bottom: 10px solid black;
      //   // box-sizing: content-box;
      // }
      #rosetta-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .each-rose {
          position: absolute;
          display: flex;
          justify-content: center;
          bottom: 0;
          align-items: flex-end;
          // filter: blur(1px);
          height:100vw;
          width: 100vw;
          img {
            width: 100%;
          }
        }
      }
    }
    .col.span_12 {
      display: flex;
      align-items: center;
      &.section-title {
        h2 {
          color: black!important;
          font-size: 1.75em!important;
        }
      }
      .vc_col-sm-6 {
        height: 100%!important;
        display: flex!important;
        justify-content: center;
        align-items: center;
        font-size: 1.25em!important;
        .bold-quote-intro {
          font: 900 1em/1.5em "Playfair Display",
          serif !important;
          & * {
            @extend .bold-quote-intro;
          }
        }
        .prepend-logo {
          margin-bottom: 5px;
        }
        .quote, .wpb_text_column {
          .wpb_wrapper {
            text-align: center;
            p {
              padding-bottom: 0;
            }
          }
        }
      }
    }
    
    
    .light-beings-footer {
      display: flex;
      justify-content: center;
    }
    .section-title, .section-title h2 {
      font-family: $font-fam-serif !important;
      font-weight: normal!important;
      font-style: italic !important;
      font-size: 2em;
      color: black;
      justify-content: center;
      letter-spacing: .0125em !important;
      line-height: 1em;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  #ajax-content-wrap {
    .below-img-body {
      .span_12 {
        // border-top: 10px solid black;
      }
    }
    // .row:first-of-type {
    //   padding-bottom: 0 !important;
    // }
    img {
      padding: 10%;
    }
  }
  .come-within {
    margin: 3em!important;
    text-align: center;
    p {
      padding-bottom: 0;
      font-size: 1.5em;
      line-height: 1em;
      font-family: $font-fam-serif;
      font-style: italic;
      &:first-of-type {
        font-weight: bold;
        font-style: normal;
        padding-bottom: .5em;
      }
      &:last-of-type {
        padding: 0 10%;
        padding-bottom: 3em;
      }
    }
  }
  .home-nav-btn-row {
    .col {
      display: flex;
      justify-content: center;
      flex-direction: row;
      .vc_col-sm-3 {
        // width: 100%;
        margin-left: 0;
        display: block;
        .home-nav-btn {
          font-size: 1.25em;
          text-align: center;
          margin: 1.5em;
          font-weight: bold;
          color: white;
          background-size: contain;
          background-repeat: no-repeat;
          // padding: 1.5em 1em;
          display: flex;
          flex-grow: 0;
          align-items: center;
          justify-content: center;
          height: 100px;
          width: 220px;
          // white-space: pre;
          // white-space: pre-wrap;
          background-position-x: center;
          a {
            padding-top: 1em;
            margin: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .row .col.section-title span:not(.share-count-total) {
    display: initial!important;
  }
  .come-within {
    // width: 80vw;
    // margin-left: -40vw;
    p:last-of-type {
      padding: 0 10%;
      padding-bottom: 0 !important;
    }
  }
  .home-nav-btn-row {
    .col {
      flex-direction: column!important;
      align-items: center;
      .wpb_column {
        margin-bottom: 0!important;
      }
      .vc_col-sm-3 {
        padding: 0!important;
        .wpb_wrapper {
          display: flex;
          justify-content: center;
          .home-nav-btn {
            background-size: contain!important;
            width: 100vw;
            margin: 0;
            height: 120px;
            a {
              padding-top: 1.5em;
            }
          }
        }
      }
    }
  }
  .bottom-cgo-branding {
    margin-bottom: 2em!important;
  }
  .main-content {
    .col.span_12 {
      flex-direction: column-reverse;
      align-items: center;
    }
    .col-flip {
      .col.span_12 {
        flex-direction: column;
      }
    }
  }
}
