@import '../_variables.scss';

$home-url: 'http://kp0.60d.myftpupload.com/wp-content/uploads';

.home{
  .container-wrap {
    padding-top: 0!important;
    margin-top: 0!important;
  }
  .main-content {
    padding: 0;
    #homepage-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100vw!important;
      height: 55vw;
      object-fit: cover;
      position: relative;
      #bg-image {
        width: 100vw !important;
        height: 100%;
        background-image: url($home-url + '/2018/02/CGO_Home_2500x1274_background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        // border-bottom: 10px solid black;
        // box-sizing: content-box;
      }
    }
  }
  #ajax-content-wrap {
    .below-img-body {
      .span_12 {
        // border-top: 10px solid black;
      }
    }
    // .row:first-of-type {
    //   padding-bottom: 0 !important;
    // }
    img {
      padding: 10%;
    }
  }
  .come-within {
    margin: 3em!important;
    text-align: center;
    p {
      padding-bottom: 0;
      font-size: 2em;
      line-height: 1em;
      font-family: $font-fam-serif;
      font-style: italic;
      &:first-of-type {
        font-weight: bold;
        font-style: normal;
        padding-bottom: 1em;
      }
      &:last-of-type {
        padding: 0 10%;
        padding-bottom: 3em;
      }
    }
  }
  .home-nav-btn-row {
    .col {
      display: flex;
      justify-content: center;
      .vc_col-sm-3 {
        width: 100%;
        margin-left: 0;
        display: block;
        .home-nav-btn {
          font-size: 1.5em;
          text-align: center;
          margin: .5em;
          font-weight: bold;
          color: white;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 1em 0;
        }
      }
    }
  }
  .bottom-cgo-branding {
    font-family: $font-fam-sans-hard;
    width: 100%;
    display: flex;
    justify-content: center;
    .wpb_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3em;
      p {
        padding-bottom: 0;
        // width: 100%;
        // font-weight: bold;
        font-size: 2em;
        &:first-of-type {
          font-weight: normal;
          font-size: 1em;
          align-self: flex-start;
        }
        &:last-of-type {
          text-align:right;
          align-self: flex-end;
        }
      }
    }
  }
}
