@import '../_variables.scss';

.participate {
  .top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-gold;
    margin-bottom: 1em!important;
    height: 400px;
    width: 100vw;
    margin-left: -90px;
    h1 {
      color: white !important;
      margin-bottom: -60px;
    }
  }
  .az-offerings-submenu-wrapper {
    margin-bottom: 5em!important;
    ul {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-grow: 0;
      color: lightgrey;
      font-size: .9em;
      li {
        padding: .25em 1em;
        text-transform: uppercase;
        font-size: 1.3em;
        .active {
          font-size: 1.125em;
          color: $color-gold !important;
        }
        &:not(:last-of-type) {
          border-right: 2px solid $color-gold;
        }
      }
    }
  }

  .top-description {
    margin-bottom: 2em!important;
    text-align: center;
  }

  .az-offerings-types-description-container {
    display: flex;
    margin-top: 50px;
    .vc_column-inner {
      & > .wpb_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        .wpb_raw_code {
          height:100%;
          padding-bottom: 3em;
          box-sizing: padding-box;
          .wpb_wrapper {
            height: 100%;
            margin-bottom: 1em;
            position: relative;
            .txt-block {
              height: 100%;
              border-left: 2px solid $color-gold;              
              padding-bottom: 2em;
              padding-right: 5em;
              padding-left: 2em;
              margin: 0;
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              .title {
                color: black !important;
                margin: 0 !important;
              }
              .inner-wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: flex-start;
                .description-wrapper {
                  // overflow: hidden;
                  padding: .25em;
                }
              }
            }
          }
        }
      }
    }
  }
  .az-offerings-type-filter-wrapper {
    display: flex;
    .sort-by {
      font-weight: bold;
      font-size: 2em;
      display: inline-block;
      margin-right: 1em;
      white-space: nowrap;
    }
    ul {
      max-width: 80vw;
      flex-wrap: wrap;
      display: flex;
      flex-grow: 0;
      justify-content: flex-end;
      text-transform: uppercase; // white-space: nowrap;
      li {
        margin-right: 2em;
        cursor: pointer;
        list-style: none !important;
      }
      a .active {
        font-weight: bold;
        font-size: 1.25em;
      }
    }
  }

  .dynamic-row {
    .span_12 {
      display: flex;
      .vc_col-sm-3 {
        width: 50%!important;
      }   
      .az-upcoming-category {
        text-align: left;
        // text-transform: uppercase;
        padding-bottom: .25em;
        border-bottom: 2px solid $color-gold;
      }
      .az-offerings-locations-menu-wrapper {
        height: 100%;
        ul{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        li {
          font-size: 2.5em;
          line-height: 1.25em;
          text-transform: uppercase;
          cursor: pointer;
          white-space: nowrap;
          .active {
            font-weight: bold;
            color: $color-gold !important;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            .active-line {
              width: calc(100% - .5em);
              margin-left: .5em;
              border-top: 1px solid $color-gold;
            } 
          }
          &:hover {
            font-weight: bold;
          }
        }
      }

      .az-offerings-location-detail-wrapper {
        .date-category {
          cursor: pointer;
          & *:not(i, .month-name) {
            cursor: default;
          }
        }
        .month-name {
          cursor: pointer;
        }
        .detail-inner {
          margin-bottom: 3em;
          cursor: default;
          .title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2em;
          }
          .detail-item {
            display: flex;
            justify-content: space-between;
            .col-1, .col-2, .col-3 {
              width: 15vw;
              // height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              // flex-grow: 1;
            }
            .col-3{
              font-size: .8em;
            }
            .location-info-spacer {
              height: 2em;
            }
            
            .date, .time {
              font-size: 1.5em;
            }
            .price {
              font-weight: bold;
              font-size: 1.5em;
              &,.price-notes {
                display: inline-block;
              }
            }
            .register-btn, .learn-btn {
              text-align: center;
              display: flex;
              // justify-content: center;
              margin-top: 1em;
              cursor: default;
              div {
                cursor: pointer;
                width: 90%;
                padding: .25em;
                box-sizing: border-box;
                border: 1px solid grey;
                border-radius: 500px;
              }
            }
          }
        }
      }
    }
  }
}
