@import '../_variables.scss';

.participate {
  .top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color-gold;
    margin-bottom: 1em!important;
    height: 40vw;
    width: 100vw;
    margin-left: -90px;
    h1 {
      color: white !important;
    }
  }
  .az-offerings-submenu-wrapper {
    margin-bottom: 5em!important;
    ul {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-grow: 0;
      color: lightgrey;
      font-size: .9em;
      li {
        padding: .25em 1em;
        text-transform: uppercase;
        font-size: 1.3em;
        .active {
          font-size: 1.125em;
          color: $color-gold !important;
        }
        &:not(:last-of-type) {
          border-right: 2px solid $color-gold;
        }
      }
    }
  }

  .top-description {
    margin-bottom: 2em!important;
    text-align: center;
    font-size: 1.5em!important;
  }

  .learn-more-link {
    color: $color-gold!important;
    font-family: $font-fam-serif;
    margin-top: 1em!important;
    font-style: italic;
    font-weight: bold;
  }

  .az-offerings-types-description-container {
    display: flex;
    margin-top: 50px;
    .vc_column-inner {
      & > .wpb_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        .wpb_raw_code {
          height:100%;
          padding-bottom: 3em;
          box-sizing: padding-box;
          &:nth-of-type(1) {
            grid-column: 1/2;
          }
          &:nth-of-type(2) {
            grid-column: 2/3;
          }
          &:nth-of-type(3) {
            grid-column: 1/2;
          }
          &:nth-of-type(4) {
            grid-column: 2/3;
          }
          .wpb_wrapper {
            height: 100%;
            margin-bottom: 1em;
            position: relative;
            .txt-block {
              height: 100%;
              border-left: 2px solid $color-gold;              
              padding-bottom: 2em;
              padding-right: 5em;
              padding-left: 2em;
              margin: 0;
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              .title {
                color: black !important;
                margin: 0 !important;
              }
              .inner-wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: flex-start;
                .description-wrapper {
                  padding: .25em;
                }
              }
            }
          }
        }
      }
    }
  }
  .az-offerings-type-filter-wrapper {
    display: flex;
    letter-spacing: 0.06125em!important;
    flex-wrap: nowrap;
    .sort-by {
      font-weight: bold;
      font-size: .9em;
      display: inline-block;
      margin-right: 2em;
      white-space: nowrap;
      letter-spacing: 0!important;
    }
    ul {
      max-width: 80vw;
      margin-bottom: 0!important;
      flex-wrap: nowrap;
      display: flex;
      flex-grow: 0;
      justify-content: flex-end;
      text-transform: uppercase;
      li {
        white-space: nowrap;
        margin-right: 2em;
        font-size: .75em;
        cursor: pointer;
        list-style: none !important;
      }
      a.active {
        font-weight: bold;
        font-size: 1.5em!important;
        color: $color-gold!important;
      }
    }
  }

  .az-upcoming-category {
    text-align: left;
    padding-bottom: .25em;
    border-bottom: 2px solid $color-gold;
  }

  .dynamic-row {
    .span_12 {
      display: flex;
      .az-offerings-locations-menu-wrapper {
        height: 100%;
        ul{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        li {
          font-size: 1.5em;
          line-height: 1.25em;
          text-transform: uppercase;
          cursor: pointer;
          white-space: nowrap;
          .active {
            font-weight: bold;
            color: $color-gold !important;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            .active-line {
              width: calc(100% - .5em);
              margin-left: .5em;
              border-top: 2px solid $color-gold;
            } 
          }
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
  .az-offerings-location-detail-wrapper, .mobile-events-section {
    .date-category {
      cursor: pointer;
      & *:not(i, .month-name) {
        cursor: default;
      }
    }
    .month-name {
      cursor: pointer;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.25em;
      margin-bottom: 1.6em;
      &.active {
        font-weight: bold;
        color: $color-gold;
      }
    }
    .detail-inner {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid lightgrey;
      cursor: default;
      .title {
        letter-spacing: 0.06125em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.66em;
      }
      .detail-item {
        margin-top: .25em;
        display: flex;
        justify-content: space-between;
        line-height: 1.0125em;
        .col-1,
        .col-2,
        .col-3 {
          width: 15vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .col-2 {
          justify-content: center;
          font-size: .75em;
          letter-spacing: 0.125em;
          text-transform: uppercase;
          .address {
            &:first-of-type {
              font-weight: bold;
              text-transform: none;
            }
            letter-spacing: 0;
          }
          .email {
            font-size: .9em;
            cursor: pointer;
            font-weight: bold;
            &:hover {
              color: $color-gold!important;
            }
            a {
              cursor: pointer;
            }
          }
        }
        .col-3 {
          justify-content: center;
          font-size: .75em;
          // font-family: $font-fam-serif;
          font-style: italic;
        }
        .date {
          font-size: 1em;
          font-style: italic;
        }
        .time,
        .time-notes,
        .price,
        .price-notes {
          font-size: .75em;
          display: inline-block;
        }
        .price {
          font-weight: bold;
          &,
          .price-notes {
            display: inline-block;
          }
        }
        .btn-wrapper {
          display: flex;
          .register-btn {
            &:first-of-type {
              margin-right: 1em;
            }
          }
        }
        .register-btn,
        .learn-btn {
          text-align: center;
          display: flex;
          margin-top: 1em;
          cursor: default;
          div {
            cursor: pointer;
            font-size: .6em;
            padding: .5em 2em;
            box-sizing: border-box;
            text-transform: uppercase;
            font-weight: 700;
            border: 1px solid $color-blue;
            color: $color-blue!important;
            &:hover {
              color: white!important;
              background: $color-blue;
            }
            a {
              color: inherit!important;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .sticky-el-1, .sticky-el-2 {
    position: initial;
    top: 0;
  }
  .sticky-el-3 {
    margin-left: 2.1%;
  }
  .sticky-nav-1 {
    position: fixed;
    top: 98px;
    background: white;
    width: 100%;
    z-index: 100;
    padding-bottom: 24px;
  }
  .sticky-nav-2 {
    position: fixed;
    top: 220px;
    margin-left: 0;
    width: 20%!important;
  }
  .sticky-nav-3 {
    z-index: 1;
  }
}
@media screen and (max-width: 1001px) {
  .participate {
    .top-banner {
      margin-left: 0 !important;
    }
    .top-description {
      padding: 2em;
    }
    .az-offerings-submenu-wrapper {
      ul {
        flex-direction: column;
        align-items: center;
        li {
          margin-top: 1em;
          border-right: none!important;
          &:hover {
            color: $color-gold;
          }
        }
      }
    }
    .az-offerings-types-description-container {
      .vc_column-inner {
        &>.wpb_wrapper {
          display: flex;
          flex-direction: column;
          .wpb_wrapper {
            margin: 0 2em;
            .txt-block {
              padding: 2em!important;
              padding-top: 0!important;
            }
          }
        }
      }
    }
    .mobile-dynamic-section {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .mobile-events-section {
        .date-category {
          padding: 20px;
          .col-1, .col-2, .col-3 {
            width: 28vw;
          }
        }
      }
      .mobile-filters-section {
        @extend .mobile-dynamic-section;
        .mobile-filter-module {
          width: 80vw;
          box-sizing: border-box;
          border: 3px solid $color-gold;
          border-radius: 10px;
          text-align: center;
          color: $color-gold;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 3em;
          &.open {
            color: black;
            font-weight: normal;
          }
          &.hidden {
            display: none;
          }
          .title-block {
            background: $color-gold;
            color: white;
            font-family: $font-fam-serif;
            font-style: italic;
            font-weight: 900;
            padding: 1em;
            text-transform: none;   
            font-size: 1.5 em;         
            
          }
          .mobile-list {
            margin-bottom: 0;
            li {
              padding: 1em;
              &:not(:last-of-type) {
                border-bottom: 1px solid $color-gold;
              }
              a {
                cursor: pointer;
                &.active {
                  font-weight: normal;
                }
                &:hover {
                  font-weight: bold;
                }
              }
            }
            
          }
          
          &.closed {
            .title-block {
              cursor: pointer;
              background: none;
              color: $color-gold;
              font-family: $font-fam-sans;
              font-weight: bold;
              font-style: normal;
              text-transform: uppercase;
            }
            .mobile-list {
              display: none;
            }
          }
        }
      }
    }
  }
}

.calendar {
  .az-offerings-type-filter-wrapper {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr 1fr;
    .sort-by {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .az-offerings-submenu-wrapper {
      grid-column: 2/3;
      grid-row: 1/3;
      display: flex;
      li {
        border-right: none!important;
        margin-right: 1em!important;
        padding: 0!important;
        font-size: 1.5em;        
        a {
          color: black !important;
          &.active {
            color: $color-gold !important;
          }
        }
      }
    }
    .secondary-nav {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;
    }
  }
}

@media screen and (max-width: 1000px) {
  .calendar {
    .az-offerings-type-filter-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .sort-by {
        display: none;
      }
      .az-offerings-submenu-wrapper {
        flex-direction: column;
      }
      .secondary-nav {
        width: 90%;
      }
    }
  }
}
