@import '../pageTemplate.scss';
@import '../_variables.scss';

.purpose {
  .main-content {
    .audio-row {
      // margin: 6em;
      .vc_col-sm-4 {
        margin: 0 2em!important;
        display: flex;
        justify-content: center;
        .vc_column-inner {
          width: 50%;
        }
      }
    }
    .col.span_12 {
      display: flex;
      align-items: flex-end;
      & a {
        @extend .col.span_12;
      }
      .inner {
        img {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .purpose {
    .main-content {
      .audio-row {
        margin: 0;
      }
      .col.span_12 {
        flex-direction: column-reverse;
      }
      .flip-row {
        .col.span_12 {
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .wpb_row {
    margin-bottom: 0;
    .vc_col-sm-6 {
      .wpb_text_column {
        padding: 0 6em!important;
      }
    }
    .wpb_wrapper {
      .inner {
        display: flex;
        align-items: flex-end;
      }
    }
    &.audio-row {
      margin: 6em 20vw;
    }
  }
}
