@import '../pageTemplate.scss';

$font-fam-cursive: 'Nickainley Normal';
$font-fam-serif: 'Playfair Display';
$font-fam-sans-modern: 'Chivo';
$font-fam-sans: 'Montserrat';

$color-gold: #CDA33A;

.purpose {
  .main-content {
    .audio-row {
      margin: 6em;
      .vc_col-sm-4 {
        margin: 0 2em!important;
        display: flex;
        justify-content: center;
        .vc_column-inner {
          width: 50%;
        }
      }
    }
    .col.span_12 {
      display: flex;
      align-items: flex-end;
      & a {
        @extend .col.span_12;
      }
      .inner {
        img {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .purpose {
    .main-content {
      .audio-row {
        margin: 0;
      }
      .col.span_12 {
        flex-direction: column-reverse;
      }
      .flip-row {
        .col.span_12 {
          flex-direction: column;
        }
      }
    }
  }
}
