@import './kalindi.scss';
@import './lady.scss';
@import './gourasana.scss';
@import '../_variables.scss';

.spiritual-lineage {
  .header-title-text {
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: flex-end!important;
    .wpb_wrapper {
      height: 50%;
      h1 {
        margin: 0!important;
      }
    }
  }
  .page-title-image {
    width: 5em!important;
    height: 15%!important;
    margin-top: 6em;
  }
  .header-img {
    .inner {
      display: flex;
      justify-content: center;
    }
    .wpb_text_column {
      text-align: center;
      &.leader-logo-name {
        font-family: $font-fam-sans;
        font-weight: bold !important;
        font-size: 2em;
        letter-spacing: .1em;
      }
      &.leader-logo-slogan  {
        font-family: $font-fam-serif;
        font-style: italic;
      }
    }
  }
  .intro-par {
    padding: 20px 10vw;
    text-align: center;
    font-size: 1.66em;
    font-family: $font-fam-serif;
    line-height: 1.125em;
    margin-top: 1em;
    margin-bottom: 1em!important;
  }
  .section-gap {
    height: 100px;
  }
  .purpose-img.leader-img {
    padding: 0 4em!important;
  }
  .quote-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .wpb_text_column {
      &.quote-attr {
        font-size: 1.25em !important;
        text-align: center;
        margin-top: 1.5em !important;
        p {
          @extend .quote-attr;
        }
      }
      // .wpb_wrapper {
      //   // @extend .quote-box;
      //   margin-top: 0;
        
      // }
      &.quote {
        // width: 75%;
        font-size: 1.5em !important;
        // color: red !important;
        // .wpb_wrapper {
        //   p {
        //     font-size: 1.5em !important;
        //   }
        // }
      }

      .quote-attr {
        text-align: center;
        margin-top: 1em !important;
        p {
          @extend .quote-attr;
        }
      }
    }
  }
  #the-lady, #kalindi {
    border-bottom: 3px solid $color-gold;
  }
}

@media screen and (max-width: 1000px) {
  .spiritual-lineage {
    .main-content {
      .col-flip {
        .span_12 {
          flex-direction: column-reverse;
        }
      }

      .vc_col-sm-12 {
        .header-text.top-banner {
          font-size: 60px!important;
        }
      }
      .quote-box {
        padding: 0 3em;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .spiritual-lineage {
    .main-content {
      .vc_col-sm-12 {
        .header-text.top-banner {
          font-size: 40px !important;
        }
      }
    }
  }
}
@media screen and (min-width: 2000px) {
  .purpose-img {
    width: 100%;
  }
}
