@import '../_variables';
@import '../pageTemplate.scss';

.story {
  .header-secondary-text {
    padding-bottom: 0!important;
  }
  .end-text-block {
    padding: 5em;  
    // margin: 5em 0!important;  
    font-family: $font-fam-serif;
    font-size: 1em;
    font-style: italic;
    text-align: center;
  }
  .surrender-img {
    padding: 5em;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .surrender-caption {
    text-align: center;
    font-size: 1.5em;
  }
  .page-breaker {
    height: 50px;
  }
  .audio-text {
    margin-top: 5em;
    .wpb_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        width: 60%;
        padding-bottom: 0;
        text-align: center;
      }
    }
    
  }
}

@media screen and (min-width: 1400px) {
  .story {
    .end-text-block {
      margin: 3em 0!important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .story {
    .end-text-block {
      padding-top: 0;
      margin: 0!important;
    }
  }
  .audio-text {
    margin-top: 0;
  }
}
