@import '../_variables.scss';

.woocommerce {
  #ajax-content-wrap {
    a {
      color: $color-gold!important;;
    }
    .container-wrap {
      background-color: white;
    }
    .product_title, .entry_title {
      font-size: 3vw!important;
    }
    .woocommerce-breadcrumb {
      border-bottom: none!important;
      // border-bottom: 1px solid $color-gold;
      // border-top: 1px solid $color-gold;
      // padding: 1em 0!important;
      margin-bottom: 0!important;
      padding-bottom: 0!important;
    }

    .woocommerce-ordering, .woocommerce-result-count {
      bottom: 13px!important;
    }
    
    .summary {
      h1 {
        color: $color-gold!important;
      }
    }
    .main-content {
      .nectar-shop-header {
        padding-bottom: 20px;
        h1.page-title {
          font-size: 5em!important;
          color: $color-gold!important;
          // padding: .75em 0!important;
          padding-bottom: .5em;
          text-align: center!important;
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.page-numbers {
          justify-content: center;
        }
        &.products {
          li {
            &.product {
              margin-right: 0!important;
              .product-wrap {
                overflow: visible;
                // margin: 0 0 1em!important;
                // box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.63) !important;
                // padding: 0!important;
                a {
                  &.button {
                    transform: translateY(0) !important;
                  }
                }
                img {
                  box-shadow: 0px 0px 10px 0px rgba(119, 119, 119, 0.63) !important;
                  margin: 0!important;
                }
              }
            }
          }
        }
      }
      .related-products-break {
        width: 100%;
        height: 1px;
        background-color: $color-gold;
        margin-bottom: 1.5em;
      }
    }

    .woocommerce-products-header {
      border: 1px solid $color-gold;
      padding: 3em;
      margin-bottom: 4em;
      position: relative;
      .featured-tag {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        overflow: hidden;
        z-index:11;
        .wrapper {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .featured-content, .angle-mask {
            position: absolute;
            z-index: 5;
            width: 100%;
            height: 100%;
            letter-spacing: .125em;
            transform: skewX(-45deg);
            transform-origin: 100% 0;
            top: 0;
            left: 0;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              transform: skewX(45deg);
              transform-origin: inherit;
            }
            &:after {
              transform: skewX(45deg);
              position: absolute;
              top: 0;
              left: 0;
              color: $color-gold;
              font-family: $font-fam-sans;
              font-size: .75em;
              font-weight: bold;
              line-height: 1em;
              content: attr(data-txt);
              transform-origin: inherit;
              padding: 1.5em;
            }
          }
          .angle-mask {
            transform-origin: 0% 100%;
            right: 0;
            bottom: 0;
          }
          .cgo-logo-small {
            width: 2em;
            height: 2em;
            position: absolute;
            top: 2em;
            left: 1em;
            svg {
              z-index: 12;
            }
          }
          .angle-mask {
            opacity: 0;
          }
        }
      }
      .page-description {
        z-index: 10;
        ul {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
        }
        p:first-of-type {
          text-align: center;
          font-size: 2.5em;
          font-family: $font-fam-serif;
          color: $color-gold;
          margin: .5em;
          font-style: italic;
          line-height: 1em;
        }
      }
    }
    
    #az-cat-list {
      width: 100%;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-grow: 0;
        flex-wrap: wrap;
        li {
          text-align: center;
          text-transform: uppercase;
          font-size: 1em!important;
          font-weight: bold;
          .sub-menu {
            li {
              text-align: left;
              font-weight: 300;
            }
          }
        }
      }
    }
    .az-searchbar {
      form {
        width: 30%;
        margin: 0 auto;
        input {
          border: 1px solid $color-gold!important;
          margin: 20px;
        }
      }
      // margin-bottom: 3em;
      // padding-bottom: 4em;
      // border-bottom: 1px solid $color-gold;
    }
    #aws-search-result-1 {
      .aws_result_title {
        color: $color-gold !important;
      }
    }

    .continue-shopping {
      a, i {
        color: $color-gold!important;
      }
    }

    .woocommerce-message, .woocommerce-error {
      background-color: $color-gold!important;
      a {
        color: white!important;
        font-size: 1em!important
      }
    }

    .sf-menu {
      z-index: 1000000;
      width: 100%;
      > li {
        > a {
          line-height: 32px;
          height: 32px;
        }
        &:hover {
          color: $color-gold;
        }
        &.menu-item-has-children {
          i {
            font-size: .5em;
          }
        }
        ul {
          background-color: white;
          li {
            line-height: 1em !important;
            a {
              &:hover {
                background-color: $color-gold!important;
                color: white!important;
              }
            }
          }
        }
      }
    }
    .description_tab {
      background-color: $color-gold !important;
      color: white !important;
      a {
        color: white !important;
      }
      &:hover {
        background-color: white !important;
        color: $color-gold;
        border: 1px solid $color-gold;
      }
    }
  }

  .cart {
    button {
      background-color: $color-gold!important;
      &:hover {
        background-color: white !important;
        color: $color-gold;
        border: 1px solid $color-gold;
      }
    }
  }

  #shopping-cart-nav {
    position: absolute;
    top: 10px;
    right: 70px;
    i {
      font-size: 1.5em;
      &:hover {
        color: $color-gold;
      }
    }
  }

  #woocommerce_widget_cart-4 {
    display: flex;
    justify-content: flex-end;
    .widget_shopping_cart_content {
      border: 1px solid $color-gold;
      padding: 1em;
    }
  }
}

.woocommerce-grouped-product-list-item__label {
  font-weight: bold;
}

.single-product.woocommerce {
  #ajax-content-wrap {
    .main-content {
      .summary {
        ul {
          flex-direction: column;
          li {
            list-style: disc!important;
            margin-left: 1.25em!important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .woocommerce {
    #ajax-content-wrap {
      .main-content {
        padding: 0 30px;
        .products {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li {
            width: 31%;
          }
        }
        .az-searchbar {
          form {
            width: 80%!important;
          }
        }
        .nectar-shop-header {
          h1.page-title {
            font-size: 8vw!important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #az-cat-list {
    width: 100%;
    ul {
      flex-direction: column;
      li {
        a {
          line-height: 1.25em;
        }
      }
    }
  }
}
