@import '../_variables';
@import '../pageTemplate.scss';

.story {
  .header-secondary-text {
    padding-bottom: 0!important;
  }
  .end-text-block {
    padding: 5em;  
    padding-top: 2em;
    font-family: $font-fam-serif;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
  }
  .story-img-wrapper {
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      .surrender-img {
        padding: 5em;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
    .surrender-caption {
      text-align: center;
      font-size: 1.5em;
    }
  }
  .page-breaker {
    height: 50px;
  }
  .audio-text {
    margin-top: 2em;
    .wpb_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        width: 150%;
        padding-bottom: 0;
        text-align: center;
      }
    }
    
  }
}

@media screen and (min-width: 1400px) {
  .story {
    .end-text-block {
      margin-bottom: 3em!important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .story {
    .end-text-block {
      padding-top: 0;
      margin: 0!important;
    }
    .surrender-img {
      width: 100%;
    }
    .page-breaker {
      height: 0;
    }
  }
  .audio-text {
    margin-top: 0;
  }
}
