@import '../_variables.scss';

.teachings {
  font-family: $font-fam-sans;
  .header-title-text {
    width: 100vw!important;
    background-position: center;
    height: 45vw!important;
  }
  .header-secondary-text {
    font-family: $font-fam-serif!important;
    padding-bottom: 1em;
    // font-size: 1.25em!important;
    p {
      font-family: $font-fam-serif;
      // font-size: 1em !important;
    }
  }
  .main-content {
    padding: 0!important;
    h4 {
      color: $color-gold;
      font-style: normal!important;
      font-weight: normal!important;
      border-bottom: 1px solid $color-gold;
      text-align: left;
      font-size: 2.125em!important;
      margin-bottom: .5em!important;
      padding-bottom: .5em!important;
    }
    .banner-2, .banner-3, .banner-4 {
      @extend .header-title-text;
      text-align: center;
      h5, div {
        color: white;
        text-align: center;
        font-weight: 900;
        margin: 0 2em;
      }
      h5 {
        font-family: $font-fam-serif;
        font-size: 2.8vw;
        line-height: 1.125em;
      }
      background-size: cover;
      background-repeat: none;
      
      padding: 2em;
      min-height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5em;
      .quote-attr {
        font-size: 1.5vw!important;
      }
    }
    .vc_col-sm-6 {
      padding: 6em;
      .light-beings-img {
        max-width: 90%;
      }
    }
    .img-col {
      padding: 3em!important;
      padding-top: 6em!important;
    }
    .vc_column-inner {
      .wpb_wrapper {
        .quote {
          width: 60%;
          margin-left: 20%;
        }
        .quote-attr {
          margin: 1em;
          margin-bottom: 4em;
          p {
            text-align: center !important;
            font-size: 1.25em;
          }
        }
        .audio-sample {
          p {
            text-align: center;
          }
        }
      }
    }
  }
  .no-pad-top {
    padding-top: 0 !important;
  }
  .no-pad-bottom {
    padding-bottom: 0!important;
  }
}

@media screen and (max-width: 1000px) {
  .teachings {
    .main-content {
      .col {
        .span_12 {
          display: flex;
          flex-direction: column;
        }
      }
      .col-flip {
        .span_12 {
          display: flex;
          flex-direction: column-reverse;
        }
      }
      .vc_col-sm-6 {
        padding: 3em!important;
        // padding-bottom: 0!important;
      }
      .header-title-text, .banner-2, .banner-3, .banner-4 {
        height: 80vw!important;
        h5 {
          font-size: 5vw;
          width: 100%;
          margin: 0;
        }
        .wpb_wrapper {
          .quote-attr {
            margin-bottom: 0!important;
          }
        }
      }
    }
  }
}
