.teachings {
  .header-banner {
    // text-align: center;
  }
  // .banner-2 {
  //   background: url('../../assets/teachings-bigquote-01.png');
  //   background-size: cover;
  //   background-repeat: none;
  // }
  // .banner-3 {
  //   background: url('../../assets/teachings-bigquote-02.png');
  //   background-size: cover;
  //   background-repeat: none;
  // }
  // .banner-4 {
  //   background: url('../../assets/teachings-bigquote-03.png');
  //   background-size: cover;
  //   background-repeat: none;
  // }
}
