@import '../_variables.scss';

.two-gifts {
  .container.main-content {
    padding: 0;
  }
  .col.span_12 {
    display: flex;
    align-items: center;
    .vc_col-sm-6 {
      .wpb_text_column:not(.page-intro), img {
        padding: 15%;
      }
    }
  }
  .top-banner, .page-breaker {
    width: 100vw;
    height: 45vw;
    text-align: center;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 100px!important;
    h1 {
      color: white!important;
      &.stack-ser-sans {
        font-size: 1em!important;
        div {
          @extend .stack-ser-sans;
          &.small-sans {
            font-family: $font-fam-sans!important;
            font-size: 2vw!important;
            font-style: normal!important;
            font-weight: bold!important;
            margin-bottom: 3vw;
          }
        }
      }
    }
    &.left-text {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      text-align: left;
      font-style: normal !important;
      font-weight: 900 !important;
      // font-size: 4vw !important;
      
      .wpb_wrapper {
        height: 100%;
        h1 {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          text-align: left;
          font-style: normal !important;
          font-weight: 900 !important;
          font-size: 2.75vw !important;
          width: 50% !important;
          padding: 1em;
          padding-left: 7.5%;
          padding-bottom: 7.5%;
          margin: 0;
          height: 100%!important;
          &.lady-quote {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            .quote-attr {
              font-size: .5em!important;
              margin-top: 1em!important;
            }
          }
        }
      }
    }
  }
  .top-banner {
    justify-content: center;
  }
  .page-breaker {
    margin-top: 100px;
    &.stack-ser-sans {
      div:first-of-type {
        font-size: .8em;
      }
    }
    &.breaker-2 {
      margin-bottom: 0!important;
    }
    &.breaker-3 {
      margin-top: 0!important;
    }
  }
  

  .page-intro{
    font-size: 1.66em;
    line-height: 1.25em;
    padding: 0 3em;
    a {
      font-weight: bold;
    }
  }

  
  .gold-text, .page-intro {
    color: $color-gold;
    font-family: $font-fam-serif;
    text-align: center;
  }
  .star-motif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    .inner {
      @extend .star-motif;
      .blue-sun {
        max-width: 50% !important;
      }
    }
  }
  .squiggle-wrapper {
    @extend .star-motif;
    .inner {
      @extend .star-motif;
      .squiggle {
        max-width: 30%;
      }
    }
  }
  
  .btn-wrapper {
    .wpb_wrapper {
      .two-gifts-button {
        padding: 1em;
        background-size: contain;
        height:100px;
        background-repeat: no-repeat;
        background-position-x: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        padding-bottom: 1.25em;
        width: 100%;
      }
    }
    margin-top: 3em;
  }
  .quote-txt-block {
    .wpb_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .end-txt-block {
        font-size: 1.5em!important;
        line-height: 1.5em;
        text-align: center;
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .two-gifts {
    .page-breaker {
      margin-top: 0!important;
    }
    .top-banner, .page-breaker {
      height: 80vw!important;
      margin-bottom: 0!important;
      h1 {
        &.stack-ser-sans {
          div{
            font-size: 8vw!important;
            &.small-sans{
              font-size: 3vw!important;
            }
          }
        }
      }
      &.left-text {
        .wpb_wrapper {
          h1 {
            font-size: 4vw!important
          }
        }
      }
    }
    .page-intro {
      padding: 0 2em;
    }
    .btn-wrapper {
      margin-left: 0!important;
      margin-bottom: 3em!important;
    }
    .col.span_12 {
      flex-direction: column;
      .star-motif {
        margin-bottom: 0;
        margin-top: 3em;
        .blue-sun {
          max-width: 100%;
        }
      }
      .vc_col-sm-6 {
        .wpb_wrapper {
          &:first-of-type {
            padding-bottom: 4%!important;
          }
          &:last-of-type {
            padding-top: 4%!important;
          }
          img {
            &:first-of-type {
              padding-bottom: 4% !important;
            }

            &:last-of-type {
              padding-top: 4% !important;
            }
          }
          .wpb_text_column {
            &:first-of-type {
              padding-bottom: 4% !important;
            }

            &:last-of-type {
              padding-top: 4% !important;
            }
          }
        }
        .vc_column-inner {
          .audio-text {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .two-gifts {
    .wpb_row.audio-row {
      margin: 6em 20vw;
    }
    .no-pad-top {
      padding-top: 0!important;
    }
    .no-pad-bottom {
      padding-bottom: 0!important;
    }
  }
}