@import '../_variables.scss';

.user-agreement {
  color: black!important;
  text-align: center;
  p, h4 {
    color: black!important;
  }
  h1 {
    margin-top: 0!important;
  }
  h2, h3, .gold-text {
    color: $color-gold!important;
  }
  .hr {
    width: calc(100vw - 180px);
    min-width: calc(100vw - 180px);
    height:1px;
    background-color: $color-gold;
    margin-bottom: 1.25em;
    margin-top: .5em;
  }
  p {
    width: 100%;
    text-align: left;
  }
  .body-link {
    color: $color-blue!important;
    font-weight: bold;
  }
  .thin {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    margin-bottom: 1.25em;
  }
  .copyright {
    width: 70%;
    text-align: center;
    * {
      text-align: center;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-content {
    padding: 5vw;
  }
}
